<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORUUM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    {% load socialaccount %}
    {% load static %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ORUUM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="admin/">Admin</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="accounts/userlist/">list</a></li>
                            <li><a class="dropdown-item" href="accounts/userinterest/">interest</a></li>
                            <li><a class="dropdown-item" href="accounts/userportfolio/">portfolio</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Stock
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="api/stocklist/">list</a></li>
                            <li><a class="dropdown-item" href="api/stockpricehistory/AAPL/">price</a></li>
                            <li><a class="dropdown-item" href="api/stockinformationhistory/AAPL/">information</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dashboard
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="dashboard/line/AAPL/">line</a></li>
                            <li><a class="dropdown-item" href="dashboard/bar/NASDAQ/">bar</a></li>
                            <li><a class="dropdown-item" href="dashboard/dash/">dash</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="/accounts/kakao/"><button class="btn"><img class="btn-img" src="{% static 'kakao_login_medium_narrow.png'%}" alt=""></button></a>
            </div>
        </div>
    </nav>

    <p class="text-center fs-2 fw-bold font-monospace">ORUUM-REST-API</p>
    <p class="text-center fs-2 font-monospace" id="Now"></p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        function getClock() {
            var date = new Date();

            var hours = String(date.getHours()).padStart(2, "0");
            var min = String(date.getMinutes()).padStart(2, "0");
            var sec = String(date.getSeconds()).padStart(2, "0");

            var year = String(date.getFullYear()).substr(2);
            var month = date.getMonth() + 1;
            var day = date.getDate();

            var timeBoard = document.getElementById("Now"); // 값이 입력될 공간
            timeBoard.innerHTML = `${year}. ${month}. ${day}. ${hours} : ${min} : ${sec}`;
            setInterval(getClock, 1000);
        }
    </script>
</body>

</html>